<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zpp.demo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 基于地理位置 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- wifi 6.0之后要添加动态权限 -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- end -->
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- <activity -->
        <!-- android:name="com.glview.OpenGLActivity" -->
        <!-- android:theme="@style/ProfileTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/ProfileTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.welcomeActivity" />
        <activity android:name=".view.system.SystemMainActivity" />
        <activity android:name=".view.third.ThirdMainActivity" />
        <activity android:name=".view.other.OtherMainActivity" />
        <activity android:name=".view.other.ImageLoaderActivity" />
        <activity android:name=".view.other.VolleyDemoActivity" />
        <activity android:name=".view.third.WeixinDemoActivity" />
        <activity android:name=".view.third.QQDemoActivity" />
        <activity android:name=".view.other.RecycleViewDemoActivity" />
        <activity android:name=".view.other.ShoppingCartActivity" />
        <activity android:name=".bluetooth.BluetoothActivity" />
        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- app id  需要在appid前面加tencent -->
                <data android:scheme="tencent1106864088" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.customView.CustomViewActivity"
            android:screenOrientation="sensor" />
        <activity android:name=".view.system.WifiActivity" />

        <receiver
            android:name=".view.MainActivity$SendReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="alarm_service" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/main_menu" />

        <activity android:name=".view.third.AliActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".view.other.TCPActivity" />

        <!-- <receiver android:name=".tools.WifiBroadCastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/> -->
        <!-- <action android:name="android.net.wifi.STATE_CHANGE"/> -->
        <!-- <action android:name="android.net.wifi.supplicant.STATE_CHANGE"/> -->
        <!-- <action android:name="android.net.wifi.NETWORK_IDS_CHANGED"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".view.other.AnimatorActivity" />
        <activity android:name=".view.system.CropImgActivity" />

        <!--
       安装apk
       authorities：app的包名.fileProvider
       grantUriPermissions：true，表示授予 URI 临时访问权限
       exported：false
       resource：下一步添加的文件
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".view.other.DateActivity" />
        <activity
            android:name=".view.third.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.system.WebViewActivity" />
        <activity android:name=".view.other.RecycleExpandActivity" />
        <activity android:name=".view.third.LineChartActivity" />
        <activity android:name=".view.customView.CustomMainActivity" />
        <activity android:name=".view.customView.MyShapeActivity"></activity>
    </application>

</manifest>